{% if additionalProperties is not empty %}
    <td>
        {% for additionalProperty in additionalProperties %}
            <li>{{ additionalProperty.propertyName }}:{{ additionalProperty.propertyValue }}</li>
        {% endfor %}
    </td>
{% else %}
    <td>
        {{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.no_additional_properties'|trans }}
    </td>
{% endif %}
