{# Additional Properties of Brick #}
{% if brick.additionalProperties is defined and brick.additionalProperties is not empty %}
    <td>
        {% for additionalProperty in brick.additionalProperties|default([]) %}
            {% if additionalProperty is defined and additionalProperty.propertyValue is not empty %}
                <li>{{ additionalProperty.propertyName }}:{{ additionalProperty.propertyValue }}</li>
            {% endif %}
        {% endfor %}
    </td>
{% else %}
    <td>
        {{ 'neusta_pimcore_areabrick_config.areabricks.overview.table.no_additional_properties'|trans }}
    </td>
{% endif %}
