parameters:
	ignoreErrors:
		-
			message: "#^Method Neusta\\\\Pimcore\\\\AreabrickConfigBundle\\\\DependencyInjection\\\\NeustaPimcoreAreabrickConfigExtension\\:\\:loadInternal\\(\\) has parameter \\$mergedConfig with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/DependencyInjection/NeustaPimcoreAreabrickConfigExtension.php

		-
			message: "#^Method Neusta\\\\Pimcore\\\\AreabrickConfigBundle\\\\Translation\\\\TranslatorWithDefaultDomain\\:\\:trans\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Translation/TranslatorWithDefaultDomain.php
