{% if editmode %}
    {% embed '@NeustaPimcorePresentation/layoutBase.html.twig' %}
        {% block main %}{% include '@NeustaPimcorePresentation/Slide/_slide-admin.html.twig' %}{% endblock main %}
    {% endembed %}
{% else %}
    {% embed '@NeustaPimcorePresentation/Presentation/presentation.html.twig' %}
        {% block main %}
            <div class="slides">
                {% include '@NeustaPimcorePresentation/Slide/_slide-frontend.html.twig' %}
            </div>
        {% endblock main %}
    {% endembed %}
{% endif %}
