name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  tests:
    name: PHPUnit with PHP ${{ matrix.php-version }} ${{ matrix.dependencies }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - php-version: "8.1"
            dependencies: "lowest"
          - php-version: "8.1"
            dependencies: "highest"
            tests: --fail-on-risky
          - php-version: "8.2"
            dependencies: "highest"
            tests: --fail-on-risky
          - php-version: "8.3"
            dependencies: "highest"
            tests: --fail-on-risky

    steps:
      - name: Git Checkout
        uses: actions/checkout@v4

      - name: PHP Setup
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}

      - name: Allow insecure packages for lowest dependencies (there's no secure Pimcore 10 version available)
        run: composer config audit.block-insecure false
        if: matrix.dependencies == 'lowest'

      - name: Install dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependencies }}

      - name: Add Pimcore Admin UI
        run: composer require --dev pimcore/admin-ui-classic-bundle --no-interaction
        if: matrix.dependencies == 'highest'

      - name: Execute tests
        run: composer tests -- ${{ matrix.tests }}
